* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 13px;
    color: #fff
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: #DCD9CD;
}




.testmonials {
    display: grid;
    grid-gap: 1rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
        'one'
        'two'
        'three'
        'four'
        'five';

}


@media (min-width: 30em) {

    .testmonials {
        grid-template-areas:
            'one one'
            'two five'
             'four four'
              'three three';
    }
}





@media (min-width: 50em) {

    .testmonials {
        grid-template-areas:
            'one one two five'
            'three four four five';
    }


 


        /* .testmonials{
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.3rem;
    
}

.testmonial:nth-child(5){
    grid-column-start: 4;
    grid-row: 1/span 2
}

.grid-testmonial-column-2{
    grid-column: span 2;
} */





    }


    .testmonial {
        font-family: 'Barlow Semi Condensed', sans-serif;
        border-radius: 8px;
        padding: 1.3rem;
        box-shadow: 5rem;

    }


    .testmonial:nth-child(1) {
        grid-area: one;
    }

    .testmonial:nth-child(2) {
        grid-area: two;
    }


    .testmonial:nth-child(3) {
        grid-area: three;
    }


    .testmonial:nth-child(4) {
        grid-area: four;
    }

     
.testmonial:nth-child(5){
    grid-area: five;
}


    .testmonial.David {
        background-color: hsl(263, 55%, 52%);

    }



    .testmonial.Jonathan {
        background-color: hsl(217, 19%, 35%);

    }

    .testmonial.Jeanette {
        background-color: hsl(100, 100%, 100%);
        color: #000;
    }

    .testmonial.Patrick {
        background-color: hsl(219, 29%, 14%);
    }

    .testmonial.Kira {
        background-color: hsl(100, 100%, 100%);
        color: #000;
    }

    .testmonial-heading {
        display: flex;
        margin-bottom: 0.5rem;

    }

    .testmonial-head {
        margin-left: 1.5rem;
        ;
    }

    .heading.two {
        font-size: 0.8rem;
        font-weight: normal;
        padding-top: 0.4rem;
    }

    img {
        border-radius: 30px;
    }



    .testimonal-paragraph.one {
        padding-bottom: 2rem;
        font-size: 25px;
        padding-top: 1rem;
    }

    .testimonal-paragraph.two {
        font-size: 15px;
        font-weight: 90;
        line-height: 1.5rem
    }